<!DOCTYPE html>
<html lang="en">

<head>
  <title>Static Utils | Image Concat</title>
  <script src="https://lilbunnyrabbit.github.io/cdn/libs/lilstate/0.2.0/lilstate.min.js"></script>
</head>

<body>
  <div class="watermark">
    <span>Theme</span>
    <span>Set theme preferences.</span>
  </div>

  <main class="sidebar-layout">
    <div class="sidebar-wrapper">
      <div class="sidebar" id="inputs"></div>
      <div class="sidebar">
        <button class="input-button" id="b-reset">Reset</button>
      </div>
    </div>
  </main>
</body>

</html>