@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./theme.scss";
@import "./inputs.scss";
@import "./layout.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background: var(--background);
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

h2 {
  color: var(--primary);
  margin: 0px;
  font-size: 28px;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
