body[data-layout="sidebar"] {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  gap: 16px;
  box-sizing: border-box;
  overflow: hidden;

  // Watermark
  & > h1 {
    all: unset;
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 288px);
    height: 100%;
    margin-left: 288px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    color: #ffffff;
    mix-blend-mode: difference;
    opacity: 0.25;
    -moz-user-select: none;
    user-select: none;
    z-index: 0;
    text-align: center;

    & > span:nth-child(1) {
      font-size: 64px;
      font-weight: 500;
    }

    & > span:nth-child(2) {
      font-size: 32px;
      font-weight: 300;
    }
  }

  // Sidebar
  & > aside {
    position: relative;
    width: fit-content;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    padding: 16px;

    & > section {
      position: relative;
      background: var(--background-dark);
      padding: 16px;
      overflow-y: auto;
      overflow-x: hidden;
      width: 256px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      box-shadow: var(--shadow);
      border: 1px solid var(--primary);
      gap: 16px;
    }
  }

  // Root
  & > main {
    position: relative;
    flex: 1;
  }
}
