.watermark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100% - 288px);
  height: 100%;
  margin-left: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  color: #ffffff;
  mix-blend-mode: difference;
  opacity: 0.25;
  -moz-user-select: none;
  user-select: none;
  z-index: 0;
  text-align: center;

  & > span:nth-child(1) {
    font-size: 64px;
    font-weight: 500;
  }

  & > span:nth-child(2) {
    font-size: 32px;
    font-weight: 300;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 32px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 32px;
}

.sidebar-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 32px;
}

.sidebar {
  position: relative;
  background: var(--background-dark);
  padding: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 256px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px #0000004f;
  gap: 16px;

  .title {
    text-align: center;
  }
}

.delete-image {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  border: 2px solid var(--primary);
  cursor: pointer;

  &:hover {
    border-color: var(--error);

    &::before {
      background: var(--error);
    }

    & > .delete-image-overlay {
      display: flex;
    }
  }

  &:active {
    transform: translateY(1px);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: var(--primary);
    opacity: 0.25;
  }

  & > img {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 16 / 9;
    z-index: 1;
  }

  & > .delete-image-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--error);

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: var(--error);
      opacity: 0.25;
    }
  }
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: auto;
  box-sizing: border-box;
  flex: 1;
}

#canvas-wrapper {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

#canvas {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
