<!DOCTYPE html>
<html lang="en">

<head>
  <title>Static Utils | Image Concat</title>
  <script src="https://lilbunnyrabbit.github.io/cdn/libs/lilstate/0.0.0/lilstate.min.js"></script>
</head>

<body>
  <div class="watermark">
    <span>Image Concat</span>
    <span>Paste or upload an image.</span>
  </div>

  <main>
    <div class="sidebar-wrapper">
      <div class="sidebar">
        <div>
          <label for="i-gap">Gap</label>
          <input id="i-gap" type="number" value="0" min="0">
        </div>

        <div>
          <label for="i-align">Align</label>
          <select id="i-align">
            <option value="left">Left</option>
            <option value="center">Center</option>
            <option value="right">Right</option>
          </select>
        </div>
        
        <div>
          <label for="i-background">Background</label>
          <input id="i-background" type="color" value="#e66465">
        </div>
        
        <div>
          <label for="i-alpha">Alpha</label>
          <input id="i-alpha" type="number" value="100" min="0" max="100" step="1">
        </div>

        <div>
          <label for="i-zoom">Zoom</label>
          <input id="i-zoom" type="number" value="100" min="0" max="200" step="1">
        </div>

        <div>
          <input id="i-fit" type="checkbox">
          <label for="i-fit">Fit to Width</label>
        </div>

        <div>
          <label for="i-image">Upload Images</label>
          <input id="i-image" type="file" accept="image/*" multiple>
        </div>
      </div>

      <div id="sidebar" class="sidebar"></div>
    </div>

    <div id="root">
      <div id="canvas-wrapper">
        <canvas id="canvas" width="0" height="0"></canvas>
      </div>
    </div>
  </main>
</body>

</html>