.watermark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100% - 288px);
  height: 100%;
  margin-left: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  color: #ffffff;
  mix-blend-mode: difference;
  opacity: 0.25;
  -moz-user-select: none;
  user-select: none;
  z-index: 0;
  text-align: center;

  & > span:nth-child(1) {
    font-size: 64px;
    font-weight: 500;
  }

  & > span:nth-child(2) {
    font-size: 32px;
    font-weight: 300;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.delete-image {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  color: var(--secondary);
  border: 1px solid currentColor;
  cursor: pointer;
  padding: 0px;
  background: var(--background-dark);

  &:active {
    transform: translateY(1px);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: currentColor;
    opacity: 0.25;
  }

  & > img {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 16 / 9;
    z-index: 1;
    background: transparent;
  }

  & > .delete-image-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    color: currentColor;

    & > svg {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: currentColor;
      opacity: 0.25;
    }
  }

  &:hover {
    color: var(--error);

    & > .delete-image-overlay {
      display: flex;

      & > svg[data-icon="error"] {
        display: inline;
      }
    }
  }

  &.is-dragging {
    color: var(--success);

    & > .delete-image-overlay {
      & > svg {
        &[data-icon="error"] {
          display: none;
        }

        &[data-icon="drag"] {
          display: inline;
        }
      }
    }
  }
}

.root-wrapper {
  position: relative;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  row-gap: 16px;

  .zoom-slider {
    padding: 0px 16px 16px 0px;
  }
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  margin-top: 16px;

  #canvas-wrapper {
    margin: auto;
  }

  #canvas {
    object-fit: contain;
    box-sizing: border-box;
    border: 1px solid var(--primary);
  }

  &[data-direction="column"] {
    overflow-y: scroll;
    overflow-x: auto;
    // margin-bottom: 16px;
    padding-right: 16px;

    #canvas-wrapper {
      // width: -moz-fit-content;
      // width: fit-content;
      width: 100%;
    }

    #canvas {
      // max-width: 100%;
      height: auto;
      width: 100%;
    }
  }

  &[data-direction="row"] {
    overflow-y: auto;
    overflow-x: scroll;
    margin-right: 16px;
    padding-bottom: 16px;

    #canvas-wrapper {
      // height: -moz-fit-content;
      // height: fit-content;
      height: 100%;
    }

    #canvas {
      // max-height: 100%;
      width: auto;
      height: 100%;
    }
  }
}
